:host {
    background-color: rgb(245, 245, 245)
}
.editor {
    width: 100%;
    display: flex;
}
ngx-codemirror{
  width: 50vw;
  height: 80vh;
  overflow-y: auto;
  margin-top: 10px;
}
div.CodeMirror.CodeMirror-wrap {
  height: 80vh;
}
.result-packages {
    width: 50vw;
    height: 80vh;
    overflow-y: auto;
    background: #0404040a;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

button {
  left: 50%;
  right: 50%;
  background: #0000ff1a;
  color: black;
  font-weight: bold;
}

.package{
  display: flex;
  border: 1px solid #ccc;
  height: 40px;
  align-items: center;
  padding-left: 10px;
    &.error {
      color: #be0505;
    }    
    &.warning {
      color: #e39301;
    }    
    p {
      margin: 0 2px;
    }
    .type {
      margin-right: 5px;
    }
}
.spiner{
  position: absolute;
  left: 73%;
  top: 10%;
}